.header {
    background-color: rgb(62, 32, 110);
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: whitesmoke;
    border-top: 10px;
    border-right: 15px;
    border-left: 5px;
    border-bottom: 5px;
    border-radius: 10px 5px 20px 3px;
}